fastapi
uvicorn
pytesseract
pillow
sqlalchemy
scikit-learn
requests

openai
python-docx
google-genai
python-dotenv
pypdf
python-multipart
openai
google-generativeai
google-cloud-vision
easyocr
python-docx
pypdf
pdf2image
python-dotenv
google-genai
